.clear {
  *zoom: 1;
}
.clear:before,
.clear:after {
  display: table;
  content: "";
}
.clear:after {
  clear: both;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.row {
  margin-left: -2.5%;
  *zoom: 1;
}
.row_nomar { 
	margin:0!important
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  margin-left: 2.5%;
}
.span_full {
	width: 97.5%;
}
.span1-4 {
	width:22.5%
}
.span2-4,
.span1-2 {
	width:47.5%
}

.span1-2 .span1-4,
.span2-4 .span1-4 {
	width:47.5%
}

.span1-3 {
	width:30.82%
}
.span2-3 {
	width:64.15%
}
.span2-3 .span1-3 {
	width:47.5%
}

.span3-4 {
	width:72.5%
}

/*RightSidebar*/
.right-sidebar { 
	margin:0px!important;
}
.right-sidebar .right-sidebar-block { 
	float:right!important;
	width:250px!important;
	display:block!important;
	margin:0!important;
}
.right-sidebar .fl-container,
.right-sidebar .posts-block {
	width:520px!important;
	float:left!important;
	margin:0!important
}

/*LeftSidebar*/
.left-sidebar { 
	margin:0px!important;
}
.left-sidebar .left-sidebar-block { 
	float:left!important;
	width:250px!important;
	display:block!important;
	margin:0!important;
}
.left-sidebar .fl-container {
	width:100%!important;
	float:none!important;
	margin:0!important
}
.left-sidebar .fl-container .posts-block {
	width:520px!important;
	float:right!important;
	margin:0!important
}

/*BothSidebars*/
.both-sidebars { 
	margin:0px!important;
}
.both-sidebars .left-sidebar-block { 
	float:left!important;
	width:182px!important;
	display:block!important;
	margin:0!important;
}
.both-sidebars .fl-container {
	width:592px!important;
	float:left!important;
	margin:0!important
}
.both-sidebars .fl-container .posts-block {
	width:395px!important;
	float:right!important;
	margin:0!important
}
.both-sidebars .right-sidebar-block { 
	float:right!important;
	width:182px!important;
	display:block!important;
	margin:0!important;
}

/*NoSidebar*/
.no-sidebar .fl-container,
.no-sidebar .posts-block {
	float: none;
}
.no-sidebar .posts-block { 
	margin:0!important;
	width:100%!important;
}
.no-sidebar .left-sidebar-block,
.no-sidebar .right-sidebar-block,
.right-sidebar .left-sidebar-block, 
.left-sidebar .right-sidebar-block {
	display: none!important;
}

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}
