/*-- Buttons --*/
#hq_fullscreen_close,
#hq_fullscreen_info {
	opacity: 0.9;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	transition: opacity 300ms, color 300ms, background-color 300ms;
	-webkit-transition: opacity 300ms, color 300ms, background-color 300ms;
	-moz-transition: opacity 300ms, color 300ms, background-color 300ms;
	-o-transition: opacity 300ms, color 300ms, background-color 300ms;
	width:30px;
	height:30px;
	display:block;
	position:absolute;
	right:0;
	z-index:200;
}
#hq_fullscreen_close {
	top:0;
}
#hq_fullscreen_info {
	top:32px;
}
#hq_fullscreen_info .ico,
#hq_fullscreen_close .ico { 
	color:#ffffff; 
	opacity: 0.8!important; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80)!important;
	font-size:16px;
	position:absolute; 
	left:-6px; 
	top:5px;
	display:block;
	width:28px; 
	height:20px;
	line-height:18px;
	transition: opacity 300ms, color 300ms, background-color 300ms;
	-webkit-transition: opacity 300ms, color 300ms, background-color 300ms;
	-moz-transition: opacity 300ms, color 300ms, background-color 300ms;
	-o-transition: opacity 300ms, color 300ms, background-color 300ms;	
}
#hq_fullscreen_close .ico {
	left:-4px;
}
#hq_fullscreen #hq_fullscreen_prev,
#hq_fullscreen #hq_fullscreen_next {
	opacity: 0; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); 
}

#hq_fullscreen_prev,
#hq_fullscreen_next {
	width:24px; 
	height:32px; 
	display:block; 
	position: absolute; 
	top: 50%; 
	margin-top:-16px;
	cursor: pointer;
	z-index:222;
	transition: opacity 300ms; 
	-webkit-transition:opacity 300ms; 
	-moz-transition:opacity 300ms; 
	-o-transition:opacity 300ms;	
}
#hq_fullscreen_prev {	
	left: 85px;
	background: url('../img/gallery_prev.png');
}
#hq_fullscreen_next {
	right: 85px;
	background: url('../img/gallery_next.png');
}

#hq_fullscreen .hq_social_block { 
	height:30px; 
	margin-bottom:2px;
	position:absolute; 
	right:-226px;
	z-index:222;
	top:64px;
	transition: right 300ms;
	-webkit-transition: right 300ms;
	-moz-transition: right 300ms;
	-o-transition: right 300ms;
}	
#hq_fullscreen .hq_social_block.social_toggled {
	right:-2px
}

#hq_fullscreen .block_ico {		
	display:block; 
	width:30px; 
	height:30px; 
	position:absolute; 
	left:0; 
	top:0;	
}
#hq_fullscreen .block_ico a {
	opacity: 0.9;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	transition: opacity 300ms;
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-o-transition: opacity 300ms;
}
#hq_fullscreen .block_ico .ico { 
	color:#ffffff; 
	opacity: 0.8!important; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80)!important;
	font-size:16px;
	position:absolute; 
	left:-3px; 
	top:5px;
	display:block;
	width:28px; 
	height:20px;
	line-height:18px;
}
#hq_fullscreen .block_ico a { 
	width:30px; 
	height:30px; 
	display:block;
	transition: opacity 300ms, color 300ms, background-color 300ms;
	-webkit-transition: opacity 300ms, color 300ms, background-color 300ms;
	-moz-transition: opacity 300ms, color 300ms, background-color 300ms;
	-o-transition: opacity 300ms, color 300ms, background-color 300ms;	
}
#hq_fullscreen .block_ico a, 
#hq_fullscreen .block_ico a .ico,
ul.social_list li, 
ul.social_list li a span {
	transition: all 300ms; 
	-webkit-transition:all 300ms; 
	-moz-transition:all 300ms; 
	-o-transition:all 300ms;		
}

#hq_thmb_list_toggler {
	background:url(../img/btn_thmb_toggler.png) no-repeat center;
	width:30px;
	height:30px;
	display:block;
	position:absolute;
	right:32px;
	top:0px;
	z-index:200;
	opacity: 0.9!important; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90)!important;
	transition: opacity 300ms; 
	-webkit-transition: opacity 300ms; 
	-moz-transition: opacity 300ms; 
	-o-transition: opacity 300ms;	
}
#hq_thmb_list_toggler.toggled {
	opacity: 1!important; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100)!important;
}
#videoplay {
	background:url(../img/gallery_play.png);
	width:24px;
	height:32px;
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	margin:-16px 0 0 -12px;
	opacity: 0; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
#videoplay.pause {
	background:url(../img/gallery_pause.png);
}

/*-- Img Grid --*/
#hq_grid {
	opacity: 1;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	transition: opacity 300ms;
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-o-transition: opacity 300ms;
}
#hq_grid.hided {
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.gallery_img_preview {
	width:16.66%;
	float:left;
	position:relative;
	cursor:pointer;
	background:#000000;
}
#hq_grid.smallDevice .gallery_img_preview {
	width: 50%;
}
#hq_fullscreen_list.smallDevice li .video_preview {
	height:100%;
	position:absolute;
	width:auto;
	z-index:115;
}
#hq_fullscreen_list.smallDevice li .play_btn {
	background:url(../img/btn_videoplay.png) no-repeat;
	width:60px;
	height:50px;
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	margin:-25px 0 0 -30px;
	z-index:117;
	opacity: 0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);

}
#hq_fullscreen_list.smallDevice li .video_player {
	z-index:120!important;
	background:none!important;
}
#hq_fullscreen_list.smallDevice li iframe {
	width:60px;
	height:50px;
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	margin:-25px 0 0 -30px;
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	z-index:119!important;
}
.gallery_img_preview img {
	width:100%;
	height:auto;
	display:block;
	opacity: 0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.gallery_img_preview .img_gallery_wrapper,
.gallery_img_preview .img_gallery_caption {
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	transition: opacity 300ms;
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-o-transition: opacity 300ms;
}
.gallery_img_preview .img_gallery_wrapper {
	cursor:pointer;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display:block;
}
.gallery_img_preview .img_gallery_caption {
	position:absolute;
	left:0; 
	width:100%;
	text-align:center;
	top:50%;
}
.gallery_img_preview .img_gallery_caption h5 { 
	color:#ffffff;
	opacity: 0.9;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	margin:0 0 5px 0;
}
.gallery_img_preview .img_gallery_caption h5.category { 
	opacity: 0.6;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.gallery_img_preview .post_type {
	width:30px; 
	height:30px; 
	display:block;
	text-align:left;
	line-height:30px;
	font-size:16px;
	margin-right:10px;
	position:absolute;
	left:0px; 
	bottom:0;
	opacity: 0.9; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	transition: opacity 300ms; 
	-webkit-transition: opacity 300ms; 
	-moz-transition: opacity 300ms; 
	-o-transition: opacity 300ms;				
}
.gallery_img_preview .post_type .ico {
	font-size:16px;
	line-height:30px;
	width:20px;
	padding-left:7px;
	height:30px;
	display:block;
	color:#ffffff;	
}

/*-- Thumbs --*/
#hq_thmb_list {  
	position:fixed; 
	overflow:hidden; 
	z-index:222;
	left: 0px;
	bottom: -116px;
	height:126px!important;
	opacity: 0.4; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);
	width:100%;
}
ul#hq_thmb_list_scroller {
	display: inline-block;
	list-style: none;
	position: relative;
	left: 0px;
	padding: 0 0px;
	top:0;
}
ul#hq_thmb_list_scroller li {
	list-style: none;
	display: block;
	width: 126px;
	height: 126px;
	overflow: hidden;
	float: left;
	margin: 0 2px 0 0;
	position:relative;
	overflow:hidden;
}
ul#hq_thmb_list_scroller li img {
	height: 126px;
	width: auto;
	text-align:center;
}
ul#hq_thmb_list_scroller li .post_type {
	position:absolute;
	left:0;
	bottom:0;
	width:25px;
	height:25px;
	display:block;
	background:#ffffff;	
}
ul#hq_thmb_list_scroller li .post_type .ico{
	font-size:16px;
	line-height:30px;
	width:20px;
	padding-left:0px;
	height:30px;
	display:block;
	text-transform:none;
}
ul#hq_thmb_list_scroller li .thumb_wrapper { 
	opacity: 0; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); 
	position:absolute; 
	width:100%; 
	height:100%; 
	left:0; 
	top:0;
	transition: opacity 500ms; 
	-webkit-transition:opacity 500ms; 
	-moz-transition:opacity 500ms; 
	-o-transition:opacity 500ms;	
}

/*-- Fullscreen Gallery --*/
#hq_fullscreen,
#hq_fullscreen_list {
	display:block;
	z-index:100;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#000000;
	transition: opacity 800ms;
	-webkit-transition: opacity 800ms;
	-moz-transition: opacity 800ms;
	-o-transition: opacity 800ms;	
}
#hq_fullscreen.hided {
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
#hq_fullscreen.hided #hq_fullscreen_list img {
}
#hq_fullscreen_list li {
	display:block;
	z-index:100;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#000000;
	overflow:hidden;
	text-align:center;
	cursor:crosshair;
	z-index:100;
	opacity: 0; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	transition: opacity 600ms; 
	-webkit-transition: opacity 600ms; 
	-moz-transition: opacity 600ms; 
	-o-transition: opacity 600ms;	
}
#hq_fullscreen.hided li, 
#hq_fullscreen_list li.video_block { 
	cursor:default
}
#hq_fullscreen_list li img {
	height:auto;
	width:auto;
	position:absolute;
	left:0;
	top:0;
}
#hq_fullscreen_list li.current-slide {
	z-index:110;
	opacity: 1!important; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100)!important;
}
#hq_fullscreen_list li.zoomed img {
}

img.hq_img_slide {
	opacity: 1; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	transition: opacity 600ms; 
	-webkit-transition: opacity 600ms; 
	-moz-transition: opacity 600ms; 
	-o-transition: opacity 600ms;		
}
img.loading {
	opacity: 0; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
li.image_type {
	background:#000000 url(../img/preloader.gif) no-repeat center!important;
}

/*-- PopUp Window --*/
#hq_popup {
	display:none;
	z-index:300;
	background:#ffffff;
	padding:35px; 
	width:800px;
	height:460px;
	position:absolute;
	left:50%;
	margin:0 0 0 -435px;	
}
.page_title {
	text-align:left;
}
#popup_content_block h5 { 
	color:#a7a7a7;
	margin:0 0 7px 0;
	font-weight:normal;
	font-family:'OswaldBold';
}
#popup_content_block h5 span {
	font-weight:normal;
	font-size:14px;
	font-family:'OswaldBold';
	padding-left:10px;
}
.popup_content_place {
	padding:10px 0 0 0;
}
.popup_content_place ul	{
	padding-left:20px;
}
.popup_content_place ul li {
	color:#a7a7a7;
}
#hq_popup a.popup_win_close { 
	background-image:url(../img/btn_win_close.png)
}
#hq_popup .scroll_buttons {
	top:-45px;
}
#hq_popup a.btn_win_up { 
	background-image:url(../img/btn_win_up.png);
	right:27px;
}
#hq_popup a.btn_win_down { 
	background-image:url(../img/btn_win_dn.png);
	right:59px;
}
#hq_fadder {
	position:fixed;
	width:100%;
	height:100%;
	display:block;
	background:#000000;
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);	
	z-index:-100;
}

/*-- Wrappers and Overlays --*/
.gallery_overlay { 
	position:fixed; 
	z-index:150; 
	width:100%; 
	height:100%; 
	display:block; 
	background:none
}
.mobile_video_wrapper { 
	background:#000000!important;
	position:absolute;
	left:0;
	top:0;
	display:block;
	overflow:hidden;
	width:100%;
	height:100%;
	z-index:100;
	text-align:center;
}
.mobile_video_wrapper iframe {
	display:block;
	z-index:100;
	margin:0 auto;
}
@media only screen and (min-width: 1023px) and (max-width: 1440px) {
	#hq_thmb_list, 
	#hq_thmb_list_toggler { 
		display:none!important;
	}
	.gallery_img_preview {
		width:25%;
		float:left;
		position:relative;
		cursor:pointer;
	}	
}

@media only screen and (min-width: 767px) and (max-width: 1022px) {
	.gallery_img_preview {
		width:33.3%;
		float:left;
		position:relative;
		cursor:pointer;
	}
	#hq_thmb_list, 
	#hq_thmb_list_toggler { 
		display:none!important;
	}
}

@media only screen and (min-width: 459px) and (max-width: 766px) {
	#hq_thmb_list, 
	#hq_thmb_list_toggler { 
		display:none!important;
	}
	.gallery_img_preview {
		width:50%;
		float:left;
		position:relative;
		cursor:pointer;
	}		
}

@media only screen and (max-width: 459px) {
	#hq_thmb_list, 
	#hq_thmb_list_toggler { 
		display:none!important;
	}
	.gallery_img_preview {
		width:50%;
		float:left;
		position:relative;
		cursor:pointer;
	}		
}


@media only screen and (min-width: 1025px) {
	#hq_fullscreen_close:hover,
	#hq_fullscreen_info:hover {
		opacity: 0.9;
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	}
	#hq_fullscreen:hover #hq_fullscreen_prev,
	#hq_fullscreen:hover #hq_fullscreen_next {
		opacity: 0.3; 
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	}
	#hq_fullscreen:hover #hq_fullscreen_prev:hover,
	#hq_fullscreen:hover #hq_fullscreen_next:hover {
		opacity: 0.5; 
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); 	
	}
	#hq_fullscreen .block_ico a:hover {
		opacity: 1;
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	}
	#hq_fullscreen .block_ico a:hover {
		background:#ffffff; background:rgba(255, 255, 255, 0.9);
	}
	.current-slide:hover #videoplay {
		opacity: 0.3; 
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	}
	.current-slide:hover #videoplay:hover {
		opacity: 0.6; 
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	}
	.gallery_img_preview:hover .img_gallery_wrapper {
		opacity: 0.8;
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	}
	.gallery_img_preview:hover .img_gallery_caption {
		opacity: 1;
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	}
	.gallery_img_preview:hover .post_type {
		opacity: 0; 
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);	
	}
	ul#hq_thmb_list_scroller li:hover {
		cursor: pointer;
	}
	ul#hq_thmb_list_scroller li:hover .thumb_wrapper, ul#hq_thmb_list_scroller li.current-thumb .thumb_wrapper{ 
		opacity: 0.8; 
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	}
}
