/*All Resolutions
=================*/
.portfolio_block {
	margin-left:-20px!important;
}
.optionset, 
#options { 
	overflow:hidden;
}
#options { 
	position:absolute; 
	top:0; 
	display:block; 
	overflow:hidden
}
.filter_navigation { 
	position:relative; 
	overflow:hidden; 
	height:26px;
}

.image-grid { 
}
.image-grid.columns1 {
	margin:0!important;
}

.image-grid .element { 
	background:none; 
	overflow:hidden; 
	display:inline-block; 
	margin-bottom:20px; 
}
.filter_img { 
	position:relative;
}
.filter_img img { 
	display:block; 
	width:100%; 
	height:auto;
}
.filter_img .post_type {
	width:30px; 
	height:30px; 
	display:block;
	text-align:left;
	line-height:30px;
	font-size:16px;
	margin-right:10px;
	position:absolute;
	left:0px; bottom:0;
	opacity: 1; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);	
	transition: opacity 300ms; 
	-webkit-transition: opacity 300ms; 
	-moz-transition: opacity 300ms; 
	-o-transition: opacity 300ms;
}
.filter_img .post_type .ico {
	font-size:16px;
	line-height:30px;
	width:20px;
	padding-left:7px;
	height:30px;
	display:block;
	color:#ffffff;
	color:rgba(255, 255, 255, 0.8);
}
.filter_img:hover .post_type {
	opacity: 0; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);	
}
.columns1 .element {
	width:100%;
	margin-left: -2.5%;
	min-height:250px;
}
.columns2 .element {
	width:384px; 
	margin:0 0 20px 20px;
	min-height:250px;
}
.columns3 .element {
	width:249px; 
	margin-left:20px;
	min-height:165px;
}
.columns4 .element {
	width:182px; 
	margin-left:20px;
	min-height:120px;
}
.filter_navigation { 
	overflow:hidden
}

/*Wrapper & Hover*/
.filter_img {
	position:relative;
}
.filter_img .portfolio_wrapper {
	display: block;
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	left:0;
	top:0;
	opacity: 0;
	cursor:pointer;
	text-align:center;
	color:#ffffff;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	transition: opacity 300ms; 
	-webkit-transition: opacity 300ms; 
	-moz-transition: opacity 300ms; 
	-o-transition: opacity 300ms;			
}
.portfolio_content {
	width:100%;
	display: block;
	display:block;
	position:absolute;
	left:0;
	top:50%;
	opacity: 0;
	cursor:pointer;
	text-align:center;
	color:#ffffff;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	transition: opacity 300ms; 
	-webkit-transition: opacity 300ms; 
	-moz-transition: opacity 300ms; 
	-o-transition: opacity 300ms;			
}
.columns1 .filter_img a.ico { 
	position:absolute; 
	left:50%; 
	top:50%; 
	width:16px;
	height:16px;
	margin:-8px 0 0 -8px;
	display:block;
	color:#ffffff;
	font-size:16px;
	opacity: 0;
	cursor:pointer;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	transition: opacity 300ms; 
	-webkit-transition: opacity 300ms; 
	-moz-transition: opacity 300ms; 
	-o-transition: opacity 300ms;				
}
.filter_img:hover .portfolio_wrapper {
	opacity: 0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
.columns1 .filter_img:hover a.ico,
.filter_img:hover .portfolio_content {
	opacity: 1;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.filter_img .portfolio_content {
	line-height:20px;	
}
.filter_img .portfolio_content h5 {
	color:#ffffff;
	margin:2px 0 15px 0;
}
.filter_img .portfolio_content p {
	color:#ffffff;
	margin:0 0 10px 0;
	padding:0 15px;
	text-align:center;
}
.filter_img .portfolio_content .ico_block,
.filter_img .portfolio_content .more_block {
	padding:0 10px;
}
.filter_img .portfolio_content .ico_block a,
.filter_img .portfolio_content .more_block a {
	color:#ffffff;
}
.filter_img .portfolio_content .ico_block .ico { 	
	width:25px; 
	height:16px; 
	font-size:16px; 
	line-height:16px; 
	color:#ffffff;
	display:inline-block;
}

/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}
/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
